*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width: 20%;
}
h1{
    text-align: center;
    padding: 2rem 0;
}

.main{
    width: 550px;
    max-width: 550px;
    height: 650px;
    max-height: 650px;
    background-color: rgb(231, 238, 243);
    border: 1px solid black;
}

#game-img,
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-game{
    margin: 40px;
    padding: 10px 20px;
    font-size: 1.5rem;
}
.choise{
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}